<div class="container">
    <div>
        <div class="col-sm-4 col-xs-12">
            <img class="img-responsive" src="images/Heros/batmanBio.jpg">

            <div class="well">
                <h1>Hero</h1>
                <h3>Batman</h3>

                <p> Bruce Wayne, who witnessed the murder of his billionaire parents as a child, swore to avenge their deaths.
                    He trained extensively to achieve mental and physical perfection, mastering martial arts, detective skills,
                    and criminal psychology. Costumed as a bat to prey on criminals' fears, and utilizing a high-tech arsenal,
                    he became the legendary Batman.
                </p>
            </div>
        </div>


        <div class="col-sm-4 col-xs-12">
            <img height="526.938px"  width="350px" src="images/Villains/BatmanVillains/jokerBio.jpg">

            <div class="well">
                <h1>Top Villian</h1>
                <h3>Joker</h3>

                <p> The Joker, Clown Prince of Crime, is Batman's arch-nemesis. An agent of chaos known for his purple three-piece
                    suit and insidious smile, he has caused Batman more suffering than any other id he has ever faced.
                    His origin, name, and true motivations remain a mystery.
                </p>
            </div>
        </div>

        <div class="col-sm-4 col-xs-12">
            <img height="526.938px"  width="350px" src="images/Heros/nightwing2.jpg">

            <div class="well">
                <h1>Side Kick</h1>
                <h3>Dick Grayson</h3>

                <p> As the first Robin, Dick Grayson was one of the most famous sidekicks in fiction before maturing into
                    the independent hero Nightwing. Dick was also a founding member of the Teen Titans and an auxiliary
                    member of the Justice League. After Ultraman revealed his identity to the world, Dick faked his death
                    with Batman's help and went undercover to infiltrate the global spy organization Spyral.
                </p>
            </div>
        </div>
    </div>
</div>