<div class="container">
    <div>
        <div class="col-sm-4 col-xs-12">
            <img class="img-responsive" src="images/Heros/flash4.jpg">

            <div class="well">
                <h1>Hero</h1>
                <h3>The Flash</h3>

                <p> After being doused in chemicals and then being struck by lightning, forensic scientist, Barry Allen,
                    was granted the gift of super speed. Barry then became The Flash, the fastest man alive.
                    Drawing his energy from the Speed Force, Barry protects the citizens of his hometown Central City,
                    and is also a founding member of the Justice League. Barry is a key part to his Universe because after
                    changing the time stream for the worst, he saved it and changed things back to the way they were more or less.
                </p>
            </div>
        </div>


        <div class="col-sm-4 col-xs-12">
            <img height="525px"  width="350px" src="images/Villains/FlashVillains/pzoom.jpg">

            <div class="well">
                <h1>Top Villian</h1>
                <h3>Professor Zoom</h3>

                <p> Eobard Thawne was a brilliant scientist born in the 25th century, where Barry Allen's heroism as the
                    Flash is the stuff of legend. Seeking to emulate his idol, Thawne traveled back in time to meet the Flash,
                    but learned instead that his destiny was to become the Reverse-Flash, Allen's greatest nemesis. Rendered unstable
                    by this knowledge, Thawne set out to erase Barry Allen from history and establish himself as the one true Flash.
                </p>
            </div>
        </div>

        <div class="col-sm-4 col-xs-12">
            <img height="525px"  width="350px" src="images/Heros/west.jpg">

            <div class="well">
                <h1>Side Kick</h1>
                <h3>Wally West</h3>

                <p> Taking on the name Kid Flash in honor of his uncle Barry "Flash" Allen, Wallace Rudolph "Wally" West
                    would eventually become The Flash after the death of his mentor. Wally was an original member of the Teen Titans,
                    a member of the JLA and the fastest man alive even among his fellow speedsters.
                </p>
            </div>
        </div>
    </div>
</div>