<div class="jumbotron" ng-controller="Images" ng-controller="Slider">
	<img ng-repeat="slide in slides" class="slide" ng-src="{{slide.image}}">
</div>
<div id="home-container" class="container" ng-controller="Images">
	<div class="row">
		<div class="col-lg-4 col-md-4">
			<img class="img-circle img-responsive" ng-src="{{hero.superman}}">
			<h2>SUPERMAN</h2>
		</div>
		<div class="col-lg-4 col-md-4">
			<img class="img-circle img-responsive" ng-src="{{hero.batman}}">
			<h2>BATMAN</h2>
		</div>
		<div class="col-lg-4 col-md-4">
			<img class="img-circle img-responsive" ng-src="{{hero.flash}}">
			<h2>FLASH</h2>
		</div>
	</div>

	<!-- Divider -->
	<hr>

	<div class="row">
		<div class="col-md-7">
			<h2>Heading.<span class="text-muted">muted.</span></h2>
			<p class="lead">hello world.</p>
		</div>
		<div class="col-md-5">
			<img class="img-responsive" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIj48cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjI1MCIgeT0iMjUwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjMxcHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NTAweDUwMDwvdGV4dD48L3N2Zz4=">
		</div>
	</div>

	<!-- Divider -->
	<hr>

	<div class="row">
		<div class="col-md-5">
			<img class="img-responsive" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIj48cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjI1MCIgeT0iMjUwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjMxcHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NTAweDUwMDwvdGV4dD48L3N2Zz4=">
		</div>
		<div class="col-md-7">
			<h2>Heading.<span class="text-muted">muted.</span></h2>
			<p class="lead">hello world.</p>
		</div>
	</div>

	<!-- Divider -->
	<hr>

	<div class="row">
		<div class="col-md-7">
			<h2>Heading.<span class="text-muted">muted.</span></h2>
			<p class="lead">hello world.</p>
		</div>
		<div class="col-md-5">
			<img class="img-responsive" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIj48cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjI1MCIgeT0iMjUwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjMxcHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NTAweDUwMDwvdGV4dD48L3N2Zz4=">
		</div>
	</div>
</div>