<div class="container">
    <div>
        <div class="col-sm-4 col-xs-12">
            <img class="img-responsive" src="images/Heros/supermanBio.jpg">

            <div class="well">
                <h1>Hero</h1>
                <h3>Superman</h3>

                <p> Rocketed to Earth as an infant from the doomed planet Krypton, Kal-El was
                    adopted by the loving Kent family and raised in America's heartland as Clark Kent. Using his immense
                    solar-fueled powers,he became Superman to defend mankind against all manner of threats while championing
                    truth, justice and the American way!
                </p>
            </div>
        </div>


        <div class="col-sm-4 col-xs-12">
            <img height="581.531px"  width="350px" src="images/Villains/SupermanVillains/darkseid4.jpg">

            <div class="well">
                <h1>Top Villian</h1>
                <h3>Darkseid</h3>

                <p> Worshipped as the 'God of Evil', Darkseid is the supreme monarch of planet Apokolips. Considered one
                    of Superman's greatest adversaries, the greatest enemy of New Genesis and the greatest threat to the
                    DC Universe, he seeks to control all living things with the Anti-Life Equation.
                </p>
            </div>
        </div>

        <div class="col-sm-4 col-xs-12">
            <img height="581.531px"  width="350px" src="images/Heros/supergirl2.jpg">

            <div class="well">
                <h1>Side Kick</h1>
                <h3>Supergirl</h3>

                <p> Kara Zor-El is Superman's cousin and last survivor of Krypton's Argo City. She has a brash and defiant
                    personality that she developed in response to the destruction of Krypton. Currently, she is protecting
                    Earth in Superman's stead at his request.
                </p>
            </div>
        </div>
    </div>
</div>